.list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-inline: 20px;
    padding: 10px;
    border: 1px solid black;
    margin: 2px;
}

.list >img {
    height: 20px;
    width: 20px;
    background-color: black;
}