* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.appHeader {
  background-color: #282c34;
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: white;
}

.connectButton {
  border: 1px solid #fff;
  padding-block: 10px;
  padding-inline: 20px;
  margin-right: 50px;
  cursor: pointer;
}

.connectButton:hover {
  border: 1px solid #333;
  color: #333;
  background-color: #fff;
}

.appBody {
  margin-block: 20px;
  height: 80vh;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #fff;
}

.icoList {
  border: 1px solid #444;
  background-color: #999;
  width: 80%;
  padding: 20px;
}

.icoList > h2 {
  padding-bottom: 20px;
}

.footer {
  background-color: #282c34;
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: white;
}

.launchButton {
  border: 1px solid #fff;
  padding-block: 10px;
  padding-inline: 20px;
  margin-right: 50px;
  cursor: pointer;
}

.launchButton:hover {
  border: 1px solid #333;
  color: #333;
  background-color: #fff;
}
