.launch {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: #777;
    border-radius: 20px;
    padding: 20px;
}

.launch > input {
    font-size: 20px;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
}
